@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --primary-color: #f60f20;
  --secondary-color: #1b206e;
  --light-color: #f4f4f4;
  --dark-color: #000;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--light-color);
  color: #111;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
  color: var(--secondary-color);
  line-height: 1.5;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px 0 100px;
  margin-top: 60px;
}

section.home {
  flex-direction: row;
  margin-top: 0;
}

a {
  color: var(--dark-color);
}

/* <<<<======================================== Header Start ========================================>>>>*/

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-weight: 600;
  color: #1b206e;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--primary-color);
  border-radius: 5px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 40px;
  text-decoration: none;
  font-family: "Righteous", cursive;
  color: var(--primary-color);
}

.logo-about {
  text-decoration: none;
  font-family: "Righteous", cursive;
  color: var(--primary-color);
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--primary-color);
  display: block;
  height: 2px;
  position: relative;
  transition: var(--primary-color) 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--primary-color);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.btn:hover {
  transform: scale(0.98);
}

/* HOMEPAGE */
.home-content {
  position: relative;
  z-index: -10;
  max-width: 600px;
  margin-top: 20px;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0.8;
  border-radius: 5px;
}

/* Testimonial Slider */

.testimonials-section {
  margin-top: 30px;
  margin-right: 3px;
  margin-left: 3px;
  background: #fff;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 80px 12px;
  border-radius: 0%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -400%;
}
.slider__inner {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500%;
  height: auto;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  padding: 0 5px;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__caption {
  font-size: 24px;
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.slider__txt {
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto";
  line-height: 1.2;
  color: #111;
  margin-top: -20px;
  margin-bottom: 20px;
  max-width: 750px;
}
quote {
  font-family: "Arial";
  font-weight: bold;
  font-size: 100px;
  color: #ec2027;
  margin-bottom: 0;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* About Page */

/* SERVICES PAGE */

.services-sec {
  margin-top: 0px;
}

.services-content {
  position: relative;
  z-index: -5;
  margin-top: 0;
}

.services-content:nth-child(5),
.services-content:nth-child(3) {
  padding-bottom: 20px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  margin-top: 20px;
}

.services .service {
  padding: 30px;
}

.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h2 a{
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
  padding-bottom: 8px;
  text-decoration: none;
}

.services .service .icon img {
  max-width: 100px;
}

/* WORK PAGE */

.portfolio-content {
  z-index: -5;
  margin-top: 0;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.portfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.portfolio .item img {
  width: 100%;
  height: 100%;
}

.portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.portfolio .item:hover .action {
  opacity: 1;
}

.portfolio .item .action a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
}

/* CONTACT */

.contact-content {
  z-index: -5;
  margin-top: 0;
}

.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.contact-form .input50 {
  width: 50%;
  margin: 0 10px;
}

.contact-form .input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}

.contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 60px 40px 20px;
}

.contact-info a {
  text-decoration: none;
  line-height: 1.4;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
}

/* footer */
.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: var(--secondary-color);
  padding: 70px 0;
  margin-top: 30px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--primary-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--primary-color);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.copyright{
  background-color: var(--primary-color);
  height: 30px;
  align-items: center;
  text-align: center;
}

.copyright h5{
  color: #fff;
  font-size: 20px;
  padding-top: 5px;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* media query 1068px */

@media (max-width: 1068px) {
  .home-img {
    display: none;
  }

  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }

  section {
    padding: 100px 40px;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: row;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }

}

/* 48em = 768px */

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  .contact {
    flex-direction: row;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
    margin: 0 auto;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }

  .footer-col:nth-child(1){
    margin-left: 40px;
  }

  .footer-col:last-child{
    margin-left: 450px;
  }

}

@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    line-height: 1;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
  }

  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 80%;
    padding: 30px 30px 20px;
    margin: 0 auto;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }

  .row{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 320px) and (max-width: 430px){
  .copyright{
    height: 50px;
  }
}

@media (max-width: 320px) {
  .contact {
    flex-direction: column;
  }
}
